.signin{
    margin-top: 120px;
    padding: 100px 0 150px;
    background-image: url(./../images/login_bg.jpeg);
    background-position: auto 450px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.signin h1{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}
.signin__card{
    width: 568px;
    margin: 0 auto;
    border-radius: 6px;

    background-color: #f6f5f0;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .3);
    color: #555;
}
.signin__card h2{
    padding: 30px;
    font-style: 18px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.signin__card h2 > span{
    color: #006633;
    font-weight: 600;
}
.signin__card form{
    padding: 30px 22px;
}
.signin form input{
    width: 100%;
    margin-bottom: 12px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}
.signin__card form .checkbox{
    display: flex;
    align-items: center;
    margin: auto 0;
}
.signin__card form .checkbox label{
    padding: 0 0 5px 5px;
    height: 26px;
    font-size: 16px;
}
.signin__card form [type="submit"]{
    background-color: #006633;
    border: none;
    color:  #fff;
    font-size: 20px;
    cursor: pointer;
}
.signin__card form [type="submit"]:hover{
    text-decoration: underline;
}
.signin__card form .checkbox [type="checkbox"]{
    display: inline;
    width: 26px;
    height: 26px;
}
.signin__card p{
    margin-top: 20px;
    font-size: 13px;
    color: #006633;
    font-weight: 500;
}
.signin__card .actions ul{
    display: flex;
}
.signin__card .actions ul > li{
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
    text-align: center;
    position: relative;
}
.signin__card .actions a{
    color: #555;
    font-size: 14px;
}
.signin__card .actions a:hover{
    text-decoration: underline;
}
.signin__card .actions li a::before{
    content: "";
    width: 1px;
    height: 28px;
    background-color: #c9c9c9;
    position: absolute;
    top: 0;
    left: 1px;
    bottom: 0;
    margin: auto;
    
}
.signin__card .actions li:first-child a::before{
    display: none;
    
}